@keyframes fadeInBalanced {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.fade-enter {
  opacity: 0;
  animation: fadeInBalanced 0.4s ease-out forwards;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.3333%);
  }
}

.infinite-scroll-wrapper {
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}


/* Hide scrollbars (cross-browser) */
.scrollbar-hide {
  -ms-overflow-style: none;       
  scrollbar-width: none;          
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;                 
}

html {
  scroll-behavior: smooth;
}

