@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.infinite-scroll-wrapper {
  display: flex;
  width: 200%; /* Twice the width so content can repeat */
  animation: scroll-left 25s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fade-enter {
  opacity: 0;
  animation: fadeInBalanced 0.4s ease-out forwards;
}

@keyframes fadeInBalanced {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
